@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playwrite+PL:wght@100..400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Oswald", sans-serif;
}
nav {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  position: fixed;
  width: 99vw;
  height: 6rem;
}
#firstSec {
  background-image: url(img/Upper\ first\ part.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vw;
  width: 100%;
}
#navLogo {
  margin: 0vw 2vw;
}
nav {
  background-color: rgba(120, 113, 255, 0.084);
}
#option {
  float: right;
  margin: 3vw 0vw 0vw 55vw;
}
#option a {
  text-decoration: none;
  color: black;
  padding: 1vw;
}
#option :hover {
  /* background-color: blue; */
  color: rgb(2, 77, 2);
}
#navPara p {
  display: inline;
}
#navPara {
  display: inline-block;
  height: 14vw;
  padding: 35vw 60vw 0vw 16vw;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.contBtn {
  display: inline-block;
  border: none;
  background-color: brown;
  color: white;
  padding: 0.6vw;
  border-radius: 1vw;
  margin: 0 calc(45vw);
  cursor: pointer;
  z-index: 3;
  position: relative;
}
.contBtn:hover {
  background-color: red;
}
#secondSec {
  background-image: url(img/Upper\ second.png);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  width: 99vw;
  height: 40vw;
}
#secondHeading {
  /* font-family: "Playwrite PL", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic; */
  /* font-family: "Kaushan Script", cursive;
  font-weight: 900;
  font-style: normal;
  font-size: x-large; */
  font-family: "Grandstander", cursive;
  font-size: la;
  font-weight: 700;
  font-style: bold;
  color: rgb(153, 90, 212);
  display: inline-block;
  margin: 15vw 0vw 0vw 54vw;
}
