@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playwrite+PL:wght@100..400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Oswald", sans-serif;
}
/* Navbar */
nav {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  position: fixed;
  z-index: 5;
  width: 99vw;
  height: 6rem;
}
nav {
  background-color: rgba(163, 230, 254, 0.33);
}
#option {
  float: right;
  margin: 2.7vw 0vw 0vw 40vw;
}
#option a {
  text-decoration: none;
  color: black;
  padding: 1vw;
}
#option :hover {
  color: rgb(2, 77, 2);
}
/* firstSection */
#firstSec {
  background-image: url(img/Upper\ first\ part.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vw;
  width: 100%;
}
#firstSecPara p {
  display: inline;
}
#firstSecPara {
  display: inline-block;
  height: 14vw;
  padding: 35vw 60vw 0vw 16vw;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.contBtn {
  display: inline-block;
  border: none;
  background-color: brown;
  color: white;
  padding: 0.6vw;
  border-radius: 1vw;
  margin: 0 calc(45vw);
  cursor: pointer;
  z-index: 3;
  position: relative;
}
.contBtn:hover {
  background-color: red;
}
/* secondPara */
#secondSec {
  background-image: url(img/Upper\ second.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 99vw;
  height: 45vw;
}
#secondHeading {
  font-family: "Grandstander", cursive;
  font-size: la;
  font-weight: 700;
  font-style: bold;
  color: rgb(153, 90, 212);
  display: inline-block;
  margin: 15vw 0vw 0vw 54vw;
}
#secondPara {
  width: 40vw;
  margin: 0vw 0vw 0vw 54vw;
}
/* thirdSection */
#thirdSec {
  background-image: url(img/menu\ section.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vw;
}
#thirdSecPar {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}
.thirdSecText {
  padding-top: 36vw;
  color: white;
}
#testSection {
  background-image: url(img/test\ sec.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 38vw;
}
#testSecQuote {
  width: 20vw;
  padding: 12vw 25vw;
}
