* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, sans-serif;
}
#navMain {
  height: 6vw;
  width: 100vw;
  align-items: center;
  display: flex;
  border: 1px solid black;
}
#logoImg {
  width: 5vw;
  margin: 0 2vw;
  object-fit: contain;
  cursor: pointer;
}
#searchContainer {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
#searchField {
  height: 2vw;
  width: 25vw;
  resize: none;
  padding: 0.2vw 1vw;
}
#searchIcon {
  margin: 1vw;
  width: 2vw;
  cursor: pointer;
}
#searchField::placeholder {
  font-size: 1rem;
}
#personImg {
  width: 3vw;
  margin: 0 2vw;
  object-fit: contain;
}
#cartImg {
  width: 8vw;
  margin: 0 2vw;
  object-fit: contain;
  mix-blend-mode: darken;
}
#navSec {
  padding: 0.5vw 5vw;
  border: 1px solid black;
}
#navSec a {
  padding: 0.5vw 2vw;
  text-decoration: none;
  color: black;
}
#fCardHeading {
  padding: 2vw 4vw;
}
#firstCardStock {
  height: 20vw;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#firstCardStock img {
  width: 20vw;
  height: 25vw;
  padding: 2vw;
}
#secondCard {
  height: 20vw;
}
#secondCardHeading {
  padding: 2vw 4vw;
}
#secondCardStock {
  height: 10vw;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#secondCardStock img {
  width: 15vw;
  height: 10vw;
}
@media only screen and (max-width: 800px) {
  #navMain {
    height: 15vw;
  }
  #logoImg {
    transform: scale(2);
    mix-blend-mode: darken;
  }
  #personImg {
    transform: scale(2);
    mix-blend-mode: darken;
  }
  #cartImg {
    transform: scale(3);
    mix-blend-mode: darken;
  }
  #searchField {
    height: 6vw;
    width: 47vw;
  }
  #searchField::placeholder {
    font-size: smaller;
    font-weight: 500;
  }
  #searchIcon {
    transform: scale(2);
  }
  #firstCardStock {
    overflow: scroll;
  }
  #firstCardStock img {
    width: 25vw;
    height: 42vw;
    overflow: hidden;
  }
}
