@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");
body {
  font-family: "Lilita One", cursive;
}
.center {
  margin: 1vw 20vw;
}
#mainHeading {
  text-align: center;
  text-decoration: underline;
}
#convertArea {
  margin: calc(10vw / 2) 25vw;
  padding: 1.5vw 2vw;
  border: 2px solid blue;
  border-radius: 2vw;
}
.from {
  margin-bottom: 1.5vw;
}
.selectArea {
  display: flex;
  justify-content: center;
  align-items: center;
}
select {
  border: 1px solid blue;
  background-color: rgb(220, 220, 255);
}
/* .formFlag {
  width: 32px;
  border: 1px solid black;
} */
.convertIcon {
  margin: 1vw 20vw;
  transform: scale(2);
}
.dropDown {
  display: inline-block;
}
#msgTxt {
  margin: 2vw 0vw;
  text-align: center;
  font-size: 1.5rem;
}
#updateDate {
  text-align: center;
  font-size: 1rem;
}
