@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");
body {
  font-family: "Lilita One", cursive;
}
.center {
  margin: 1vw 20vw;
}
#mainHeading {
  text-align: center;
  text-decoration: underline;
}
#convertArea {
  margin: calc(10vw / 2) 25vw;
  padding: 1.5vw 2vw;
  border: 2px solid blue;
  border-radius: 2vw;
}
.from {
  margin-bottom: 1.5vw;
}
.selectArea {
  display: flex;
  justify-content: stretch;
  align-items: center;
}
.convertIcon {
  margin: 1vw 20vw;
  transform: scale(2);
}
.dropDown {
  display: inline-block;
}
.submitBtn {
  border: 1px solid blue;
  border-radius: 0.5vw;
  background-color: rgb(135, 135, 254);
  cursor: pointer;
}
